/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@600&display=swap');

:root {
  --border: 1px solid lightgrey;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


button {
  /* position: relative; */
  padding: 10px 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  border-radius: 10px;

  transition: background-color 0.3s ease;
}

button::before {
  content: "";
  background-color: #f0d5d5;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

button:hover {
  background-color: #f0d5d5;
  cursor: pointer;
}

button:hover::before {
  opacity: 1;
}









.edit:hover {
  opacity: .5;
  z-index: -1;
  background-color: grey;
  padding: 5px;
  border-radius: 50%;
}
