.sign-up-header {
    padding: 1rem;
    border-bottom: 1px solid lightgrey;
}

.sign-up-header-line1 {
    display: flex;
    justify-content: space-between;
}

.sign-up-title {
    color: black;
    font-weight: bold;
}

.sign-up-subheader {
    margin-top: 5px;
    color: grey;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 30rem;
}

.first-last {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.name-input {
    width: 219px;
}

.form-info-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: center;
}

.gender-field {
  display: flex;
  flex-direction: column;
}

.gender-field-area {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.gender-label {
    display: flex;
    margin-bottom: 5px;
}

.gender-error {
    margin-left: 0.5rem;
}

.male-section,
.female-section,
.custom-section {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 3.5rem;
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #dcdfe2;
}

.signup-btn-wrapper {
    display: flex;
    justify-content: center;
}
.signup-btn {
  padding: 0.5rem 1rem;
  background-color: #42b72a;
  border: 1px solid #42b72a;
  color: white;
  font-weight: bolder;
  border-radius: 8px;
  width: 50%;
}

.disclosure {
  font-size: 12px;
}

#close-signup {
    color: grey;
}
