.post-card__container {
  border: var(--border);
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  width: 50%;
}

.post-card__info-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-card__user-info {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.post-card__profile-info {
  display: flex;
  gap: 5px;
  align-items: center;
}

.post-card__profile-info > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-info__left-side > p {
  font-weight: bold;
  padding-bottom: 2px;
}

.profile-info__post-date {
  font-size: 0.9rem;
}

.post-card__images {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  /* height: 10px; */
  /* min-height: 20%; */
}


.post-card__images > img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
