.post-card__container {
  border: var(--border);
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  width: 100%;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  /* border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  max-height: 500px; */

}

.post-card__content {
  word-break: break-word;
}


.post-card__info-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-card__user-info {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.post-card__profile-info {
  display: flex;
  gap: 5px;
  align-items: center;
}

.post-card__profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.post-card__profile-pic:hover {
  box-shadow: 0px 0px 5px grey;
  cursor: pointer;
}

.profile-info__left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-info__left-side>p {
  font-weight: bold;
  padding-bottom: 2px;
}

.profile-info__post-date {
  font-size: 0.9rem;
}

.post-card__images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
}

.post-card__engagement {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.post-card__buttons {
  padding: 5px 0px;
  display: flex;
  gap: 5px;
  justify-content: space-around;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgrey;
}

.post-card__buttons>* {
  width: 50%;
}

.post-card__comment-bar {
  padding-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}

.post-card__likes {
  width: fit-content;
}

.post-card__comment-bar {
  display: grid;
  grid-template-columns: auto 1fr;
}

.add-comment {
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  background-color: #F0F2F5;
  padding: 10px 15px;
  width: 100%;
  font-size: medium;
}

.add-comment:hover {
  cursor: text;
}

.edit-delete__container {
  display: flex;
  gap: 10px;
  margin-right: 5px;
}
