.home-page-wrapper {
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  /* grid-template-columns: auto, 1fr; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* gap: 20%; */
  /* padding-top: 100px; */
  /* height: 2000px; */
}

.home-page__side-nav {
  position: fixed;
  height: 100%;
  /* width: 10em; */
}

.home-page__post-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: 10px;
  width: 35rem;
  margin: 0 auto;
  /* width: 100%; */
}

/* .home-page-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 100px;
  width: 35rem;
  margin: 0 auto;
}


/* .home-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
