.sidenav__container {
  background-color: none;
  /* width: 30%; */
  /* position: absolute; */
  /* z-index: -1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 95px;
  padding: 10px;
  height: 100%;
}

.sidenav__container > button {
  width: 100%;
  display: flex;
  font-size: 25px;
  align-items: center;
  gap: 8px;
  /* border-bottom: 1px solid lightgray */
}

.sidenav__container > button:hover {
  background-color: #e4e6eb;
}
