.social {
    height: 20px;
    width: 20px;
}

.contributors-container {
    display: flex;
    gap: 1rem;
}

.social-container {
    display: flex;
    gap: 5px;
}

.contributors {
    display: flex;
    gap: 1rem;
}
